services:
  - type: web
    name: fastify-crud-api
    env: node
    plan: free
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: DATABASE_URL
        value: postgresql://postgres:yQoDzQkzdRoszGJBOrFQxzBQwtFItetk@switchyard.proxy.rlwy.net:21239/railway

